<div class="container">
  <div class="row u-vertcenter-container">
    <div class="col-md-4 col-md-offset-4 container--border">
      <h4>Get Your Invite!</h4>
      <p>Fill out this short form and an invite will be sent to your email!</p>

      <form (submit)="formSubmit()">
          <div class="form-group" [class.has-error]="errors.name">
            <label for="name">Your name</label>
            <input type="text" [(ngModel)]="model.name" name="name" placeholder="Name" class="form-control" required/>
            <p class="help-block" *ngIf="errors.name">{{ errors.name }}</p>
          </div>

          <div class="form-group" [class.has-error]="errors.email">
            <label for="email">Your email</label>
            <input type="email" [(ngModel)]="model.email" name="name" placeholder="E-Mail" class="form-control" required/>
            <p class="help-block" *ngIf="errors.email">{{ errors.email }}</p>
          </div>
          <div class="row">
            <div class="form-group col-xs-4" [class.has-error]="errors.position">
              <label for="position">Your position</label>
              <select [(ngModel)]="model.position" name="position" class="form-control" required>
                <option *ngFor="let position of positions" value="{{ position | lowercase }}">{{ position }}</option>
              </select>
            </div>
            <div class="form-group col-xs-4" [class.has-error]="errors.field">
              <label for="field">Your field</label>
              <select [(ngModel)]="model.field" name="field" class="form-control" required>
                <option *ngFor="let field of fields" value="{{ field | lowercase }}">{{ field }}</option>
              </select>
            </div>
            <div class="form-group col-xs-4" [class.has-error]="errors.skill_level">
              <label for="skillLevel">Your skill level</label>
              <select [(ngModel)]="model.skill_level" name="skill_level" class="form-control" required>
                <option *ngFor="let skill_level of skill_levels" value="{{ skill_level | lowercase }}">{{ skill_level }}</option>
              </select>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block">Get invite!</button>
      </form>
    </div>
  </div>
</div>