<div class="container">
	<div class="row u-vertcenter-container">
		<div class="col-md-4 col-md-offset-4 text-center container--border">
			<h2>Learn Programming Slack</h2>
			<p>A slack channel dedicated to helping others learn to program. Chat with peers and mentors to learn more about programming, and have a good time. All are welcome regardless of skill level, programming language, or age!</p>
			<p>We currently have members from over 10 different countries from around the world, so you'll be getting diverse opinions on matters. The goal is to help you learn, and learn right.</p>
			<p>Fill out a short form just so we can make sure you are a human, and then you will receive an automatic email invitation to our slack channel!</p>

			<button [routerLink]="['invite']" class="btn btn-md btn-success btn-block m-top-25">Join Now!</button>
		</div>
	</div>
</div>
