<div class="container">
  <div class="row u-vertcenter-container">
    <div class="col-md-4 col-md-offset-4 text-center">
      <h2>Learn Programming Slack</h2>
      <p>A slack channel dedicated to helping other learn to program. Chat with peers and mentors to learn more about programming. All are welcome regardless of skill level, programming language or positon!</p>
      <p>Fill out a short form just so we can make sure you are a human, and then you will receive an automatic to our slack channel!</p>
      
      <button [routerLink]="['invite']" class="btn btn-md btn-success btn-block m-top-25">Join Now!</button>
    </div>
  </div>
</div>